*{
    font-family: 'Abyssinica SIL', Roboto, Arial, sans-serif;
}

body{
    background-image: url("../images/wood-bg.jpg");
    background-size: cover;
}

h1{
    font-style: italic;
    text-align: center;
    margin: 10px !important;
}

#container{
    height: 100vh;
    min-width: 980px;
    min-height: 600px;
}

#chatbox{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 20%;
    background: rgba(255, 255, 255, 0.9);
    border-left: solid;
}

#gameboard{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 80%;
}

#startbtn{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#rules{
    background-image: url("../images/copyright/rules.jpg");
    margin-right: 10px;
}

#opponents{
    position: absolute;
    display: flex;
    top: 10px;
    left: calc(50% - 3*135px)
}

.player-container{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 125px);
}

.opponent{
    position: relative;
    display: inline-block;
    margin: 20px 10px 0 10px;
    left: auto;
    bottom: auto;
}

#coin{
    position: absolute;
    top: -15px;
    left: -15px;
    width: 40px;
}

.player-card{
position: relative;
display: inline-block;
border: 5px solid;
border-radius: 5px;
width: 250px;
height: 100px;
background: rgba(255, 255, 255, 0.2);
}
.player-card h4{
font-weight: bold;
text-align: center;
color: black;
}


.discard-pile{
    margin: 5px 20px 0 20px;
}
.hand{
    display: flex;
    cursor: pointer;
    margin-left: 10px;
}

#deck-container{
    display: flex;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 310px)
}

#deck-discards{
    display: flex;
}

.card{
    display: inline-block;
    background: transparent;
    border: 3px solid black;
    border-radius: 5px;
    height: 200px;
    width: 142px;
    margin: 0 10px 0 10px;
    background-size: 100% 100%;
}

.card h1{
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: left;
    margin: 0 0 0 2px !important;
}

.card-back{
    background-image: url("../images/copyright/card-back.jpg");
}

.card-mini{
    height: calc(0.5*200px);
    width: calc(0.5*142px);
    margin: 0;
}

.card-preview{
    height: calc(2*200px);
    width: calc(2*142px);
    position: absolute;
    left: 0;
    top: calc(50% - 1.25*200px);
    z-index: 1001;
    box-shadow: 16px 16px 4px rgba(0, 0, 0, .5);
}

.empty-deck{
border-style: dashed;
}



/*chat*/
#messages{
    height: calc(100% - 55px);
    overflow-y: auto;
}

#messages p{
    color: darkgray;
    margin: 10px;
    font-family: Roboto, sans-serif;
}

.message-container{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.message-container textarea{
    width: 100%;
    height: 50px;
    resize: none;
}

.error-msg{
    text-align: center;
    color: red;
    font-weight: bold;
    width: 100%;
}

.semi-transparent{
    background: rgba(255, 255, 255, 0.7);
    width: 800px;
    height: 100%;
    padding-top: 15px;
    position: relative;
    margin:auto;
}

.input-group-2{
    display: inline-block !important;
    margin-left: 38%;
}

.input-group-2 label{
    display: block;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.input-group-2 input{
    border-radius: 3px;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
}

.input-group-2 button{
    display: block;
    border-radius: 3px;
    margin-top: 1px;
    width: 100%;
}

.pull-left{
    float:left;
}
.pull-right{
    float:right;
}