<div id="gameboard" class="pull-left">
    <div id="opponents">
        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>

        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>

        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>
    </div>

    <div id="deck-container" style="display: none">
        <div id="wildcard" class="card card-back">
            <h1>?</h1>
        </div>
        <div id="deck" class="card card-back">
        </div>
    </div>

    <div id="you" class="player-container">
        <div class="discard-pile"></div>
        <div class="player-card">
            <img id="coin" src="images/coin.png">
        </div>
        <div class="hand"></div>
    </div>
    <div id="card-prev" style="display: none" class="card card-preview">

    </div>
    <button id="startbtn" class="btn btn-lg btn-success">Start</button>
</div>
