<div id="gameboard" class="pull-left">

    <!-- The Modal -->
    <div class="modal modal-custom fade" id="selectModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h2>Select cards/players</h2>
                </div>
                <div class="modal-body">
                    <div face="" id="cards">
                        <div face="2" class="card card-mini"></div>
                        <div face="3" class="card card-mini"></div>
                        <div face="4" class="card card-mini"></div>
                        <div face="5" class="card card-mini"></div>
                        <br>
                        <div face="6" class="card card-mini"></div>
                        <div face="7" class="card card-mini"></div>
                        <div face="8" class="card card-mini"></div>
                        <hr>
                    </div>
                    <div id="playerSelect">
                        <h5>Players:</h5>
                        <select class="form-control">
                            <option>opp1</option>
                            <option>opp2</option>
                            <option>opp3</option>
                            <option>you</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="opponents">
        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>

        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>

        <div class="player-container opponent">
            <div class="player-card">
                <h4>Empty Seat</h4>
            </div>
            <div class="discard-pile"></div>
        </div>
    </div>

    <div id="deck-container" style="display: none">
        <div id=rules class="card card-front"></div>
        <div id="wildcard" class="card card-back">
            <h1></h1>
        </div>
        <div id="deck" class="card card-back">
        </div>
        <div id="deck-discards"></div>
    </div>

    <div id="you" class="player-container">
        <div>
            <div class="discard-pile"></div>
            <div class="player-card">
                <img id="coin" class="coin" src="images/coin.png">
            </div>
        </div>
        <div class="hand"></div>
    </div>
    <div id="card-prev" style="display: none" class="card card-preview">

    </div>
    <button id="startbtn" class="btn btn-lg btn-success">Start</button>
</div>
